# My personal mechanism for initializing the command line environment
activate

# Until we decide either that the data can be stored in github or to make this a private repo (and then data can be stored), let's just ignore it
data 

# Hosts file for managing FHIR server connections
fhir_hosts

# This file is produced during a play and is used for caching IDs for direct load. It shouldn't 
# get checked in since those IDs are probably not appropriate 
.dbcache.sqlite3
*.sqlite3-journal

# Don't check in results
output
